/* you will add css rules for element selectors and IDs */


/* you may add to or change the body rule */

body {
    font-family: sans-serif;
    color: #000;
    margin: 0;
}

img {
    max-width: 100%; /* DO NOT delete or change this line */
}

photo {
    display: flex;
}

section {
    margin: 10px;
    flex-direction: column;
    flex: 1;
}

article {
    display: flex;
    padding: 50px;
    flex-direction: row;
    justify-content: flex-start;
}

header {
    background: #000;
    color: #fff;
    font-size: 1.2rem;
    padding: 1rem;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
}

nav ul li {
    margin: 0;
    margin-left: 1rem;
    text-transform: uppercase;
}

#cougar {
    display: flex;
    background: #FFBD82;
}

#lion {
    display: flex;
    background: #DF7C20;
}

#tiger {
    display: flex;
    background: #FFD5AE;
}

.text {
    line-height: 1.2rem;
    font-size: 1rem;
}

footer {
    color: #fff;
    background: #333;
    margin: 0;
    padding: 1rem;
}

/* ----- SUGGESTED COLORS -----
    - ARTICLES
    DF7C20 cinnamon
    FFD5AE pale peach
    FFBD82 peach
    - LINKS
    3AA3BB medium blue
    82E8FF light blue

   ----- NEUTRAL COLORS you may use also -----
   000 black
   333 charcoal
   666 dark medium gray
   999 light medium gray
   ccc pale gray
   fff white
*/


/* --- link pseudo classes --- */
/* --- you may ADD other link pseudo classes for
        specific articles or sections to improve CONTRAST --- */

a {
    color: #3AA3BB;
    background: #000;
    text-decoration: none;
}
a:hover {
    color: #82E8FF;
    background: #000
}
